<template>
  <div>


<!--BUTTONS-->
  
    <nav class="nav flex-column">
      <img class="imahe" src="@/assets/hpi-removebg-preview.png" alt="">
      
  <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal"><h5> Upload Music</h5>
  </button>
  
  <button type="button" class="btn ">
    <h5>All songs</h5> 
  </button>
  
  <div class="dropdown text-center">
    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><h5>
      Create Playlist</h5>
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#mymodal"><h5><span class="text-dark">Create 1</span></h5>
      </button></li>
      <li><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#smodal"><h5><span class="text-dark">Create 2</span></h5>
      </button></li>
      
    </ul>
  </div>


</nav>

      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload Music</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
         <h4>Drag or drop files here...</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-dark ">Upload</button>
        </div>
      </div>
    </div>
  </div>
 <!--CREATE1-->
  <div class="modal fade" id="mymodal" tabindex="-1" aria-labelledby="mymodalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mymodalLabel">Create Playlist</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
         <h4>Create your new playlist here...</h4>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-dark ">Add</button>
        </div>
      </div>
    </div>
  </div>
 <!--CREATE 2-->
  <div class="modal fade" id="smodal" tabindex="-1" aria-labelledby="smodalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="smodalLabel">Create Playlist</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
         <h4>Create your second playlist here...</h4>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-dark ">Add</button>
        </div>
      </div>
    </div>
  </div>


  <!--TABLES-->
    
    <div id="content">
      <div class="div class content-items">
        <div class="row height d-flex justify-content-flex-start align-items-center ">
          <div class="col-md-5">
              <div class="form">
                  <i class="fa fa-search "></i> <input type="text " class="form-control form-input " placeholder="Search a song... ">
                </div>
        <div class="all"><h3>All songs</h3></div> 
              </div>
      </div>
      <div class="table-responsive col-lg-12">
        <table class="table table-light table-striped table-hover table-borderless table-center">
            <thead class="table text-secondary">
              <tr>
                <th scope="col"></th>
                <th scope="col"><h4>Play</h4></th>
                <th scope="col"><h4>Title</h4></th>
                <th scope="col"><h4>Artist</h4></th>
                <th scope="col"><h4>Album</h4></th>
                <th scope="col"><h4>Duration</h4></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">01</th>
                <td><img src="@/assets/play.png" alt="" width="30" height="30"></td>
                <td>Pelimon</td>
                <td>Unknown</td>
                <td>Lemon</td>
                <td>3:00</td>
              </tr>
              <tr>
                <th scope="row">02</th>
                <td><img src="@/assets/play.png" alt="" width="30" height="30"></td>
                <td>Chupapi</td>
                <td>Unknown</td>
                <td>Papi</td>
                <td>2:59</td>
              </tr>
              <tr>
                <th scope="row">03</th>
                <td><img src="@/assets/play.png" alt="" width="30" height="30"></td>
                <td>Munyanu</td>
                <td>Unknown</td>
                <td>Moon</td>
                <td>1:00</td>
              </tr>
              <tr>
                <th scope="row">04</th>
                <td><img src="@/assets/play.png" alt="" width="30" height="30"></td>
                <td>Chongkoyla</td>
                <td>Unknown</td>
                <td>Abuchiki</td>
                <td>2:00</td>
              </tr>
            </tbody>
          </table>
          <div class="music-player">
            <div class="slider-container">              
                <input type="range" min="1" max="100" value="0" class="slider">   
            </div>
            <div class="icons">
                <div class="prev-track"><i class="bi bi-skip-backward fa-lg" ></i></div>
                <div class="playpause-track"><i class="bi bi-play-fill fa-3x icon-blue"></i></div>
                <div class="next-track"><i class="bi bi-skip-forward fa-lg"></i></div>
            </div>          
        </div>
        </div>
    </div>
    </div>
    

  </div>


</template>

<script>


export default {
  name: 'App',
  
}
</script>

<style>
body{
    
    
    background-image: url(assets/headphone-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section{
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
@media screen and (max-width: 768px){
    section{
        padding: 50px;
    }
}
.table{
    background-color: #204244;
    
}
col{
    color:#fff
}
.modal-header{
    background: #035358;
    color:#fff;
}
.btn{
    color:rgb(245, 237, 237);
}
.imahe{
    width: 180px;
    height: 180px;
   
}
    
#content{
    
    margin-left: 20rem;
    width: 70%;
    min-height: 100vh;
}
.form{
    position: relative;
    margin-bottom: 80px;
}
.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    width: 100%;
    background: #f9fafa;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
    
.slider-container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 100%;
    transition: opacity .2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
}
.music-player {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.all{
    color: #fff;
}
.nav{
 display:flex;
 align-items: flex-start;
  margin-left: 5rem;
  
}

.prev-track{
  font-size:60px;
color:lightblue;
}
.playpause-track{
  font-size:60px;
color:lightblue;
}
.next-track{
  font-size:60px;
color:lightblue;
}
</style>
