body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/headphone-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section{
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
@media screen and (max-width: 768px){
    section{
        padding: 50px;
    }
}
.table{
    background-color: #204244;
    
}
col{
    color:#fff
}
.modal-header{
    background: #035358;
    color:#fff;
}
.btn{
    color:#fff;
}
.imahe{
    width: 180px;
    height: 180px;
    margin-bottom: 50px;
}
    
#content{
    width: 100%;
    padding: 40px;
    min-height: 100vh;
}
.form{
    position: relative;
    margin-bottom: 80px;
}
.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    width: 100%;
    background: #f9fafa;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
    
.slider-container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 100%;
    transition: opacity .2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
}
.music-player {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.all{
    color: #fff;
}
.nav{
    margin-bottom: 100px;
}