.bg-qwe{
    padding: 0;
    display: block;
    margin: 0 auto;
   
    background-image: url('/image/image2/bgcrop.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.bg-line{
    background-color: chocolate ;
}
.navbar{
 background-color: rgb(247, 244, 245) ;
}
.boxes{
    
    background-image: url('/image/image2/jda2.jpg');
   /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-md{
    position: relative;
    font-style: italic;
   
    top: 70%;
    width: 100%;
    right: 8%;
  text-align: left;
  text-emphasis-position: 100% 100%;
}